CONFIG_SYS_CONFIG_NAME="uniphier-ph1-ld20-global-v4"
CONFIG_DEFAULT_DEVICE_TREE="dts_ld20-global-v4"
CONFIG_CMD_GPT=y
CONFIG_EFI_PARTITION=y
CONFIG_PARTITION_UUIDS=y
CONFIG_ARMV8_MULTIENTRY=y
# CONFIG_USB_EHCI_HCD is not set
# CONFIG_USB_EHCI_GENERIC is not set
CONFIG_PHY_REALTEK=y
CONFIG_ENV_IS_IN_MMC=y
CONFIG_CMD_MMC_SWRITE=y
CONFIG_LIBAVB=y
CONFIG_AVB_VERIFY=y
CONFIG_CMD_AVB=y
CONFIG_ANDROID_BOOT_IMAGE=y
CONFIG_FASTBOOT=y
CONFIG_CMD_FASTBOOT=n
CONFIG_USB_GADGET=y
CONFIG_USB_FUNCTION_FASTBOOT=y
CONFIG_FASTBOOT_BUF_ADDR=0x88000000
CONFIG_FASTBOOT_BUF_SIZE=0x7000000
CONFIG_USB_GADGET_DOWNLOAD=y
